div {
    color: gray;
    padding-top: 3px;
    font-style: italic;
    font-size: 19px;
}

.done {
    color: green;
    max-width: 350px;
    background: lightgrey;
    font-size: 18px;
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .error {
    color: red;
    max-width: 350px;
    background: lightgrey;
    font-size: 18px;
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
  }